.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chat-container {
  width: 100%;
}
.chat-text {
  height: 50vh;
  background: white;
  margin: 30px 100px 30px 100px;
  border: 2px solid #8707ff;
  border-radius: 10px;
  background: transparent;
}
.user-name {
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
  color: white;
  font-size: 15px;
}
.submit-name {
  border: 2px solid #4f64fd;
  padding: 4px 6px;
  background: #4f64fd;
  max-width: 190px;
  color: white;
  cursor: pointer;
}

.send-message {
  display: flex;
  gap: 5px;
  justify-content: center;
}